.product-list {
    list-style: none;
    display: flex;
    align-content: flex-start;
    /*align-items: baseline;*/
    padding: 0;
    flex-wrap: wrap;
    margin: auto;
}

.product-list > li {
        display: flex;
        border-radius: 10px;
        box-shadow: 0 0 10px #3e4d62;
        width: 200px;
        height: 315px;
        margin: 10px 15px;
        padding: 20px 10px 40px;
}

.product-list li {
    display: list-item;
    text-align: center;
}
    
.product-list a {
    text-decoration: none;
    color: #3e4d62;
}
    
.product-list a:hover {
    text-decoration: underline;
    color: #3e4d62;
}



